hello-gon/src/main/mule/hello-gon.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b6ae65a4-e35a-4591-bc01-eaec59e1c17d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-gonFlow" doc:id="67cb540e-0c48-4327-b744-ee2b6eef348f" >
		<http:listener doc:name="Listener" doc:id="0b55a854-76d7-415d-8146-8197e2e874b3" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello Gon!"]' doc:name="Set Payload" doc:id="f2e5f700-f25e-449c-83ea-f11f39b92a12" />
	</flow>
</mule>
